<div class="mb-3 d-flex justify-content-between">
    <button kendoButton class="k-btn" [svgIcon]="plusIcon" (click)="openAddModal($event, addModal)"
    style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
    Add Candidate
</button>
<span>
    Select Election : 
    <kendo-dropdownlist #dropdown [data]="upcommingElectionsList" textField="name"
valueField="value" style="padding: 5px; width: 300px;"  (valueChange)="onElectionChange($event)">
</kendo-dropdownlist>
</span>
</div>

<div class="col-12 kendo-grid-data d-flex justify-content-center flex-column">
    <div class="kendo-grid-data">
        <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [pageSize]="20" [pageable]="pageableSettings"
            [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
            [columnMenu]="{ filter: true }">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG" style="padding: 8px;">
                    Export to Excel
                </button>
                <button kendoGridPDFCommand [svgIcon]="pdfSVG" style="padding: 8px;">Export to PDF</button>
                <kendo-textbox class="ms-auto" style="width: 50%; padding: 5px;" placeholder="Search in all columns..."
                (valueChange)="onFilter($event)"
                >
                </kendo-textbox>
            </ng-template>
            <kendo-grid-column field="electionPartyLogoUrl" title="Party Logo" [width]="10">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <img [src]="'data:image/jpeg;base64,'+dataItem.profileUrl" alt="Logo" style="max-width: 50px; max-height: 50px;">
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="name" title="Candidate Name" [width]="22">
            </kendo-grid-column>
            <kendo-grid-column field="gender" title="Gender" [width]="11">
            </kendo-grid-column>
            <kendo-grid-column field="partyName" title="Party Name" [width]="22">
            </kendo-grid-column>
            <kendo-grid-column field="assemblyName" title="Assembly Name" [width]="20">
            </kendo-grid-column>
            <kendo-grid-column field="verificationStatus" title="Verification Status" [width]="15">
                <ng-template kendoGridCellTemplate let-dataItem>
                    @if(dataItem.verificationStatus ==='Verified'){
                        <i class="fa-solid fa-circle-check text-success"></i>
                        <span>&nbsp;{{dataItem.verificationStatus}}</span>
                    }@else {
                        <i class="fa-solid fa-circle-info text-danger"></i>
                        <span>&nbsp;{{dataItem.verificationStatus}}</span>
                    }
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column   title="Actions" [width]="15">
                <ng-template kendoGridCellTemplate let-dataItem>
                 <!-- @if((userRole$ | async) == 2){ -->
                  <button class="ms-2 btn btn-danger" (click)="openDeleteModal($event, deleteModal,dataItem)"><i class="fa-solid fa-trash"></i></button>
                    <button class="ms-2 btn btn-secondary" (click)="openEditModal($event, addModal,dataItem)"><i class="fa-solid fa-pencil"></i></button>
                    @if(dataItem.verificationStatus !=='Verified'){
                        <button class="ms-2 btn btn-warning" (click)="openVerifyModal($event, verifyModal,dataItem)"><i class="fa-solid fa-check"></i></button>
                      }
                    <!-- } -->
            </ng-template>
            </kendo-grid-column>
            <kendo-grid-pdf fileName="Candidates.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="Candidates.xlsx"></kendo-grid-excel>
        </kendo-grid>
    </div>
</div>


<ng-template #addModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Candidate Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="k-form k-form-md" [formGroup]="form">
            <fieldset class="k-form-fieldset">
                <div class="row">
                    <div class="col-6">
                        <kendo-formfield>
                            <kendo-label text="Candidate Voter APIC Number"></kendo-label>
                            <kendo-textbox style="padding:5px;" formControlName="candidateEpic" [clearButton]="true"
                                required >
                            </kendo-textbox>
                        </kendo-formfield>
                        
                    </div>
                    <div class="col-6 d-flex align-items-end">
                        <button class="btn btn-outline-warning" style="padding: 5px;">
                            Fetch Details
                        </button>
                    </div>
                    <div class="col-6 mt-3">
                        <kendo-formfield>
                            <kendo-label text="Candidate Name"></kendo-label>
                            <kendo-textbox style="padding:5px;" formControlName="candidateName" [clearButton]="true"
                                required>
                            </kendo-textbox>
                        </kendo-formfield>
                    </div>
                    <div class="col-6 mt-3">
                        <kendo-formfield>
                            <kendo-label text="Candidate Gender"></kendo-label>
                            <kendo-dropdownlist [data]="genderList" formControlName="candidateGender" textField="name"
                                valueField="value" style="padding: 5px;" [defaultItem]="{name:'Select Gender',value:0}" >
                            </kendo-dropdownlist>
                        </kendo-formfield>
                    </div>
                    <div class="col-6 mt-3">
                        <kendo-formfield>
                            <kendo-label text="District Name"></kendo-label>
                            <kendo-dropdownlist [data]="districtList" textField="name"
                                valueField="value" style="padding: 5px;" [defaultItem]="{name:'Select District',value:0}"  (valueChange)="onDistrictChange($event)">
                            </kendo-dropdownlist>
                        </kendo-formfield>
                    </div>
                    <div class="col-6 mt-3">
                        <kendo-formfield>
                            <kendo-label text="Assembly Name"></kendo-label>
                            <kendo-dropdownlist [data]="assemblyList" formControlName="candidateAssemblyId" textField="name"
                                valueField="value" style="padding: 5px;" [defaultItem]="{name:'Select Assembly',value:0}" [disabled]="!isDistrictSelected">
                            </kendo-dropdownlist>
                        </kendo-formfield>
                    </div>
                    <div class="col-6 mt-3 d-flex align-items-center flex-column">
                        <span>
                            <kendo-label text="Independent Candidate"></kendo-label>
                            <kendo-switch [(ngModel)]="isCandidateIndependent" (valueChange)="toggle()" 
                                [size]="'small'" style="margin-left: 10px;">
                            </kendo-switch>
                        </span>
                        @if(isCandidateIndependent){
                                <label for="file-upload d-flex justify-content-center align-items-center text-center" class="custom-file-upload pt-3 pb-2">
                                    <i class="fa fa-cloud-upload"></i> Upload Image (200 x 200 px)
                                </label>
                                <input id="file-upload" type="file" (change)="onFileChange($event)" />
                        }
                    </div>
                   
                    @if(!isCandidateIndependent){
                    <div class="col-6 mt-3">
                        <kendo-formfield>
                            <kendo-label text="Party Name"></kendo-label>
                            <kendo-dropdownlist [data]="partyList" formControlName="candidatePartyId" textField="name"
                                valueField="value" style="padding: 5px;" [defaultItem]="{name:'Select Party',value:0}">
                            </kendo-dropdownlist>
                        </kendo-formfield>
                    </div>
                }
                    @else{
                        <div class="col-6 mt-3 image-box-col">
                        <div class="image-box">
                            <img [src]="imageSrc" alt="Uploaded Image" class="text-center"/>
                        </div>
                    </div>
                    }
                    <div class="col-12 mt-3 text-center text-danger">
                        {{ error }}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="addNewCandidate()">Save</button>
    </div>
</ng-template>


<ng-template #verifyModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">Verify Candidate</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            You are sure! You want to verify candidate <b>{{candidateNamed}}</b> ?
        </div>
        <div class="error-text text-center text-danger pt-1">{{error}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark">Verify</button>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">Delete Candidate</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            You are sure! You want to delete candidate <b>{{candidateNamed}}</b> ?
        </div>
        <div class="error-text text-center text-danger pt-1">{{error}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" >Delete</button>
    </div>
</ng-template>