<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-between align-items-center flex-row w-100">
        <li>
          <kendo-autocomplete style="width: 500; padding: 3px;" placeholder="Search">
          </kendo-autocomplete>
        </li>
          <li class="text-light p-2">
          <span class="text-light me-2">MR. DARSHAN BHALANI</span>
          <kendo-dropdownbutton [data]="data" fillMode="flat">
          <i class="fa fa-caret-down" id="btn"></i>
        </kendo-dropdownbutton>
        </li>
      </ul>
    </div>
  </div>
</nav>