<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-between align-items-center flex-row w-100">
        <li>
          <kendo-autocomplete style="width: 500; padding: 3px;" placeholder="Search">
          </kendo-autocomplete>
        </li>
          <li class="text-light p-2">
          <span class="text-light me-2">{{currentPath$ | async}}</span>
          <kendo-dropdownbutton [data]="data" fillMode="flat" textField="name"
          valueField="value" (itemClick)="onDropdownClick($event,profilemodal,logoutmodal)">
          <i class="fa fa-caret-down" id="btn"></i>
        </kendo-dropdownbutton>
        </li>
      </ul>
    </div>
  </div>
</nav>


<ng-template #logoutmodal let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Logout</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      You are sure!, You want to Logout ?
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="logout($event,logoutmodal)">Logout</button>
  </div>
</ng-template>

<ng-template #profilemodal let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">User Profile</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
     <div class="row">
       <div class="col-4 d-flex flex-column justify-content-center align-items-center">
         <img height="200px" width="200px" [src]="form.profileUrl">
        </div>
       <div class="col-8 d-flex flex-column ">
        <div class="row d-flex flex-row align-items-center">
          <div class="col">
            <label class="2px">Employee Code</label>
          <input disabled [value]="form.code" style="padding: 5px;" class="mb-2">
          </div>
          <div  class="col">
            <label class="2px">Employee Designation</label>
          <input disabled [value]="form.role" style="padding: 5px;" class="mb-2">
          </div>
        </div>
         <label class="2px">Employee Name</label>
         <input disabled [value]="form.userName" style="padding: 5px;" class="mb-2">
         <label class="2px">Employee Email</label>
        <input disabled [value]="form.email" style="padding: 5px;" class="mb-2">
         <label class="2px">Employee Phone Number</label>
         <input disabled [value]="form.phoneNumber" style="padding: 5px;" class="mb-2">
       </div>
     </div>
  </div>
</ng-template>