<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-between align-items-center flex-row w-100">
        <li>
          <kendo-autocomplete width="400" placeholder="Search">
          </kendo-autocomplete>
        </li>
        <li class="text-light p-2">
          <span class="text-light me-2">DARSHAN BHALANI</span>
          <i class="fa fa-caret-down" id="btn"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>