.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-border{
    border: 1.2vw solid #E88D67; border-radius: 50%;
    max-height: 200px;
    min-height: 100px;
    height: 15vw;
    aspect-ratio: 1/1; 
}

.count{
    font-size: 3vw;
    font-weight: bolder;
}