#add-btn{
  background-color: #005C78;
  color: white;
}

.image-box-col{
  width: 200px;
  height: 200px;
  .image-box{
    width: 200px;
    height: 200px;
  border: 1px solid black;
    img{
      width: 200px;
      height: 200px;
    }
  }
}

