<button kendoButton class="k-btn mb-3" [svgIcon]="plusIcon" (click)="openAddModal($event, addModal)"
    style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
    Add New Party
</button>
<kendo-grid  [kendoGridBinding]="gridView"
  [pageSize]="20" [pageable]="pageableSettings"
    [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
    [columnMenu]="{ filter: true }" >
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG" style="padding: 8px;">
            Export to Excel
        </button>
        <button kendoGridPDFCommand [svgIcon]="pdfSVG" style="padding: 8px;">Export to PDF</button>
        <kendo-textbox class="ms-auto" style="width: 50%; padding: 5px;"
            placeholder="Search in all columns..."
            (valueChange)="onFilter($event)"
            ></kendo-textbox>
    </ng-template>
    <kendo-grid-column field="electionPartyLogoUrl" title="Party Logo" [width]="10">
        <ng-template kendoGridCellTemplate let-dataItem>
            <img [src]="'data:image/jpeg;base64,'+dataItem.electionPartyLogoUrl" alt="Party Logo" style="max-width: 50px; max-height: 50px;">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="electionPartyName" title="Party Name" [width]="80">
    </kendo-grid-column>
    <kendo-grid-column field="verificationStatus" title="Verification Status" [width]="15">
        <ng-template kendoGridCellTemplate let-dataItem>
            @if(dataItem.verificationStatus ==='Verified'){
                <i class="fa-solid fa-circle-check text-success"></i>
                <span>&nbsp;{{dataItem.verificationStatus}}</span>
            }@else {
                <i class="fa-solid fa-circle-info text-danger"></i>
                <span>&nbsp;{{dataItem.verificationStatus}}</span>
                @if((userRole$ | async) == 1){
                    <button class="ms-3 btn btn-warning" (click)="openVerifyModal($event, verifyModal,dataItem.electionPartyId)">Verify</button>
                }
            }
        </ng-template>
    </kendo-grid-column>
</kendo-grid>


<ng-template #addModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Party Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="k-form k-form-md" [formGroup]="form">
            <fieldset class="k-form-fieldset">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center text-center image-box-col">
                        @if(imageSrc){
                            <div class="image-box" [class.empty]="!imageSrc">
                                <img [src]="imageSrc" alt="Uploaded Image"/>
                            </div>
                        }
                        @else {
                            <div class="image-box d-grid align-items-center">No Image Uploaded</div>
                        }
                    </div>
                    <div class="col-8">
                        <kendo-formfield>
                            <form class="k-form k-form-md" [formGroup]="form">
                                <fieldset class="k-form-fieldset">
                                    <kendo-formfield>
                                        <kendo-label  text="Enter Party name"></kendo-label>
                                        <kendo-textbox
                                          style="padding:5px;"
                                          formControlName="partyName"
                                          [clearButton]="true"
                                          #username
                                          required
                                        ></kendo-textbox>
                                    </kendo-formfield>
                                </fieldset>
                            </form>
                        </kendo-formfield>
                            <label for="file-upload" class="custom-file-upload pt-3 pb-2">
                              <i class="fa fa-cloud-upload"></i> Upload Image (200 x 200 px)
                            </label>
                            <br>
                            <input id="file-upload" type="file" (change)="onFileChange($event)"/>
                    </div>
                    <div class="error-text text-center text-danger pt-1">{{error}}</div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="addNewParty()">Save</button>
    </div>
</ng-template>


<ng-template #verifyModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">Verify Party</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            You are sure! You want to verify party details ?
        </div>
        <div class="error-text text-center text-danger pt-1">{{error}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="verifyParty(verifyModal)">Verify</button>
    </div>
</ng-template>