<button kendoButton class="k-btn mb-3" [svgIcon]="plusIcon"
    style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
    Add New Party
</button>
<kendo-grid  [kendoGridBinding]="gridView"
  [pageSize]="20" [pageable]="pageableSettings"
    [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
    [columnMenu]="{ filter: true }" >
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG" style="padding: 8px;">
            Export to Excel
        </button>
        <button kendoGridPDFCommand [svgIcon]="pdfSVG" style="padding: 8px;">Export to PDF</button>
        <kendo-textbox class="ms-auto" style="width: 50%; padding: 5px;"
            placeholder="Search in all columns..."
            (valueChange)="onFilter($event)"
            ></kendo-textbox>
    </ng-template>
    <kendo-grid-column field="electionPartyLogoUrl" title="Party Logo" [width]="10">
        <ng-template kendoGridCellTemplate let-dataItem>
            <img [src]="dataItem.electionPartyLogoUrl" alt="Party Logo" style="max-width: 50px; max-height: 50px;">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="electionPartyName" title="Party Name" [width]="80">
    </kendo-grid-column>
    
</kendo-grid>
