<button kendoButton class="k-btn mb-3" [svgIcon]="plusIcon" (click)="openModal($event, addModel)"
    style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
    Shedule Election
</button>
<div class="d-flex justify-content-between align-items-center flex-row">
    <button kendoButton class="k-btn mb-3 box-btn" (click)="showAllElections()"
        style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center p-0">
                <i class="box-icon fa-solid fa-flag text-primary"></i>
            </div>
            <div class="col">
                <div class="row row-col-1">
                    <div class="col count">{{total | async}}</div>
                    <div class="col title">Total Elections</div>
                </div>
            </div>
        </div>
    </button>
    <button kendoButton class="k-btn mb-3 box-btn" (click)="showVerifiedElections()"
        style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center p-0">
                <i class="box-icon fa-solid fa-circle-check text-success"></i>
            </div>
            <div class="col">
                <div class="row row-col-1">
                    <div class="col count">{{verified | async}}</div>
                    <div class="col title">Verified Elections</div>
                </div>
            </div>
        </div>
    </button>
    <button kendoButton class="k-btn mb-3 box-btn"(click)="showUnverifiedElections()"
        style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center p-0">
                <i class="box-icon fa-solid fa-circle-info text-warning"></i>
            </div>
            <div class="col">
                <div class="row row-col-1">
                    <div class="col count">{{unverified | async}}</div>
                    <div class="col title">Unverified Elections</div>
                </div>
            </div>
        </div>
    </button>
    <button kendoButton class="k-btn mb-3 box-btn" (click)="showLockedElections()"
        style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center p-0">
                <i class="box-icon fa-solid fa-lock text-secondary"></i>
            </div>
            <div class="col">
                <div class="row row-col-1">
                    <div class="col count">{{rejected | async}}</div>
                    <div class="col title">Locked Elections</div>
                </div>
            </div>
        </div>
    </button>
    </div>
<div class="col-12 kendo-grid-data d-flex justify-content-center flex-column">
    <div class="kendo-grid-data">
        <kendo-grid [kendoGridBinding]="filter > 0 ? (filteredGrid$ | async) :(data$ | async)" kendoGridSelectBy="stateElectionId" [pageSize]="20" [pageable]="pageableSettings"
            [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
            [columnMenu]="{ filter: true }">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG" style="padding: 8px;">
                    Export to Excel
                </button>
                <button kendoGridPDFCommand [svgIcon]="pdfSVG" style="padding: 8px;">Export to PDF</button>
                <kendo-textbox class="ms-auto" style="width: 50%; padding: 5px;"
                    placeholder="Search in all columns..."></kendo-textbox>
            </ng-template>
            <kendo-grid-column field="stateName" title="State Name" [width]=30>
            </kendo-grid-column>
            <kendo-grid-column field="electionDate" title="Year" [width]=20>
            </kendo-grid-column>
            <kendo-grid-column field="electionStageName" title="Status" [width]=20>
            </kendo-grid-column>
            <kendo-grid-column field="verificationStatusName" title="Verification Status" [width]="20">
                <ng-template kendoGridCellTemplate let-dataItem>
                    @if(dataItem.verificationStatusName ==='Verified'){
                        <i class="fa-solid fa-circle-check text-success"></i>
                        <span>&nbsp;{{dataItem.verificationStatusName}}</span>
                    }@else if(dataItem.verificationStatusName ==='Unverified') {
                        <i class="fa-solid fa-circle-info text-warning"></i>
                        <span>&nbsp;{{dataItem.verificationStatusName}}</span>
                    }@else if(dataItem.verificationStatusName ==='Rejected'){
                        <i class="fa-solid fa-circle-xmark text-danger"></i>
                        <span>&nbsp;{{dataItem.verificationStatusName}}</span>
                    }
                    @else{
                        <span>Unknown</span>
                    }
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column   title="Actions" [width]="15">
                <ng-template kendoGridCellTemplate let-dataItem>
                 <!-- @if((userRole$ | async) == 2){ -->
                  <button class="ms-2 btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                    <button class="ms-2 btn btn-secondary" ><i class="fa-solid fa-pencil"></i></button>
                    @if(dataItem.verificationStatus !=='Verified'){
                        <button class="ms-2 btn btn-warning"><i class="fa-solid fa-check"></i></button>
                      }
                    <!-- } -->
            </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>



<ng-template #addModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">State Election Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="k-form k-form-md" [formGroup]="form">
            <fieldset class="k-form-fieldset">
                <div class="row">
                    <div class="col-2 flex-start-center">
                        <kendo-label text="Election State : "></kendo-label>
                    </div>
                    <div class="col-10">
                        <kendo-formfield>
                            <kendo-dropdownlist class="input-field" [defaultItem]="{name:'Select State',value:null}" [data]="stateList" textField="name" valueField="value"
                                [valuePrimitive]="true" formControlName="stateId">
                            </kendo-dropdownlist>
                        </kendo-formfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 flex-start-center">
                        <kendo-label text="Election Date : "></kendo-label>
                    </div>
                    <div class="col-10">
                        <kendo-formfield>
                            <kendo-datepicker class="input-field" placeholder="Choose Election Date" formControlName="electionDate"></kendo-datepicker>
                        </kendo-formfield>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="error-text text-center text-danger pt-5">{{error}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="sheduleElection(addModel)">Shedule Election</button>
    </div>
</ng-template>