.input-field{
    padding: 5px !important;
}

.flex-center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flex-start-center{
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}

.box-btn{
    height: 100px;
    width: 20vw;
    min-width: 200px;
  
    .box-icon{
      font-size: xx-large;
    }
  
    .count{
      font-size: xx-large;
    }
  
    .title{
      font-size: large;
    }
  }
