.input-field{
    padding: 5px !important;
}

.flex-center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flex-start-center{
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}

