<div class="row">
    <div class="col-2">
        <kendo-dropdownlist #dropdown1 class="input-field" [data]="electionList" textField="name" valueField="value"
            style="padding: 5px;">
        </kendo-dropdownlist>
    </div>
    <div class="col-2">
        <kendo-dropdownlist #dropdown2 class="input-field" [data]="districtList" textField="name" valueField="value" [defaultItem]="{name:'Select District',value:null}"
            style="padding: 5px;">
        </kendo-dropdownlist>
    </div>
    <div class="col-2">
        <kendo-dropdownlist #dropdown3 class="input-field" [data]="assemblyList" textField="name" valueField="value" [defaultItem]="{name:'Select Assemblies',value:null}"
            style="padding: 5px;">
        </kendo-dropdownlist>
    </div>
    <div class="ms-auto col-2 text-right d-flex justify-content-end align-items-center">
        <div class="text-right">
            Auto Sync :
            <kendo-switch [(ngModel)]="checked"></kendo-switch>
        </div>
    </div>
    @if(checked){
    <div class="col-1">
        <kendo-dropdownlist #dropdown class="input-field bg-transparent" [data]="timerList" textField="name" valueField="value" [disabled]="!checked"
            style="padding: 5px;" (valueChange)="onTimerChange($event)">
        </kendo-dropdownlist>
    </div>
}
</div>
<div class="row mt-5">
    <div class="col" style="height: 400px !important;">
        <canvas id="myChart" style="height: 400px !important;"></canvas>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 mb-4">
            <div class="box bg-total">
                <div class="row">
                    <div class="col-12 text-center mb-4 title">All Over Voters</div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>23545206</h3>
                            <p>Total</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>15789222</h3>
                            <p>Turnout</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>55%</h3>
                            <p>Percentage</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-4">
            <div class="box bg-male">
                <div class="row">
                    <div class="col-12 text-center mb-4 title">Male Voters</div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>23545206</h3>
                            <p>Total</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>15789222</h3>
                            <p>Turnout</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>55%</h3>
                            <p>Percentage</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-4">
            <div class="box bg-female">
                <div class="row">
                    <div class="col-12 text-center mb-4 title">Female Voters</div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>23545206</h3>
                            <p>Total</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>15789222</h3>
                            <p>Turnout</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>55%</h3>
                            <p>Percentage</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-4">
            <div class="box bg-other">
                <div class="row">
                    <div class="col-12 text-center mb-4 title">Other Voters</div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>23545206</h3>
                            <p>Total</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>15789222</h3>
                            <p>Turnout</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h3>55%</h3>
                            <p>Percentage</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <h3>Assembly wise votes</h3>
        <div class="kendo-grid-data">
            <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [pageSize]="20"
                [pageable]="pageableSettings" [sortable]="true" [groupable]="true" [reorderable]="true"
                [resizable]="true" [columnMenu]="{ filter: true }" [height]="580">
                <ng-template kendoGridToolbarTemplate>
                    <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG" style="padding: 8px;">
                        Export to Excel
                    </button>
                    <button kendoGridPDFCommand [svgIcon]="pdfSVG" style="padding: 8px;">Export to PDF</button>
                    <kendo-textbox class="ms-auto" style="width: 50%; padding: 5px;"
                        placeholder="Search in all columns..." ></kendo-textbox>
                </ng-template>
                <kendo-grid-column field="asseblyName" title="Assemby Name" [width]=20>
                </kendo-grid-column>
                <kendo-grid-column field="asseblyDistrict" title="District" [width]=20>
                </kendo-grid-column>
                <kendo-grid-column field="totalVoters" title="Male" [width]=12>
                </kendo-grid-column>
                <kendo-grid-column field="totalVoters" title="Female" [width]=12>
                </kendo-grid-column>
                <kendo-grid-column field="totalVoters" title="Other" [width]=12>
                </kendo-grid-column>
                <kendo-grid-column field="totalVoters" title="Total" [width]=12>
                </kendo-grid-column>
                <kendo-grid-column field="totalVoters" title="Turnout (%)" [width]=12>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>