.mat-snack-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px !important;
  max-width: 30vw !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  background-color: transparent !important;
}

.success-snackbar,.mat-mdc-snack-bar-label ,.mdc-snackbar__label {
  background-color: #4caf50 !important; 
  color: #fff !important; 
}

.error-snackbar {
  background-color: #f44336 !important; /* Red background for error */
  color: #fff !important; /* Ensure white text color */
}