<div [class.open]="isClassAdded" class="sidebar">
    <div class="logo_details">
      <div class="logo_name">I V S - A D M I N</div>
      <div (click)="toggleClass()"><i class="fa fa-bars" id="btn"></i></div>
    </div>
    <ul class="nav-list">
      <li>
        <a href="" [class.active]="false">
          <i class="fa fa-dashboard"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <!-- <li (click)="toggleDropdown1()">
        <a class=" dropdowndropbtn">
          <i class="fa fa-indent"></i>
          <span class="link_name">Parlamentry Elections</span>
          @if(isClassAdded){
          @if(isDropdownOpen1){
          <i class="fa fa-caret-up"></i>
          }
          @else{
          <i class="fa fa-caret-down"></i>
          }
          }
        </a>
        @if(isDropdownOpen1){
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-truck-fast"></i>
              <span class="link_name">Elections</span>
            </a>
            <span class="tooltip">Elections</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cloud"></i>
              <span class="link_name">constituency</span>
            </a>
            <span class="tooltip">constituency</span>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-users"></i>
              <span class="link_name">Candidates</span>
            </a>
            <span class="tooltip">Candidates</span>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-square-poll-vertical"></i>
              <span class="link_name">Result</span>
            </a>
            <span class="tooltip">Result</span>
          </li>
        </ul>}
        <span class="tooltip">Parlamentry Elections</span>
      </li> -->
      <li (click)="toggleDropdown2()">
        <a class=" dropdowndropbtn">
          <i class="fa fa-indent"></i>
          <span class="link_name">State Elections</span>
          @if(isClassAdded){
          @if(isDropdownOpen2){
          <i class="fa fa-caret-up"></i>
          }
          @else{
          <i class="fa fa-caret-down"></i>
          }
          }
        </a>
        @if(isDropdownOpen2){
        <ul>
          <li>
            <a routerLink="stateelection/elections">
              <i class="fa fa-truck-fast"></i>
              <span class="link_name">Elections</span>
            </a>
            <span class="tooltip">Elections</span>
          </li>
          <li>
            <a routerLink="stateelection/assembly">
              <i class="fa fa-cloud"></i>
              <span class="link_name">Assembly</span>
            </a>
            <span class="tooltip">Assembly</span>
          </li>
          <li>
            <a routerLink="stateelection/candidates">
              <i class="fa-solid fa-users"></i>
              <span class="link_name">Candidates</span>
            </a>
            <span class="tooltip">Candidates</span>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-square-poll-vertical"></i>
              <span class="link_name">Result</span>
            </a>
            <span class="tooltip">Result</span>
          </li>
        </ul>}
        <span class="tooltip">State Elections</span>
      </li>
      <!-- <li (click)="toggleDropdown3()">
        <a class=" dropdowndropbtn">
          <i class="fa fa-indent"></i>
          <span class="link_name">Municiple Elections</span>
          @if(isClassAdded){
          @if(isDropdownOpen3){
          <i class="fa fa-caret-up"></i>
          }
          @else{
          <i class="fa fa-caret-down"></i>
          }
          }
        </a>
        @if(isDropdownOpen3){
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-truck-fast"></i>
              <span class="link_name">Elections</span>
            </a>
            <span class="tooltip">Elections</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cloud"></i>
              <span class="link_name">Ward</span>
            </a>
            <span class="tooltip">Ward</span>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-users"></i>
              <span class="link_name">Candidates</span>
            </a>
            <span class="tooltip">Candidates</span>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-square-poll-vertical"></i>
              <span class="link_name">Result</span>
            </a>
            <span class="tooltip">Result</span>
          </li>
        </ul>}
        <span class="tooltip">Municiple Elections</span>
      </li> -->
      <li>
        <a routerLink="parties" [class.active]="false">
          <i class="fa-solid fa-flag"></i>
          <span class="link_name">Parties</span>
        </a>
        <span class="tooltip">Parties</span>
      </li>
      <li>
        <a href="">
          <i class="fa fa-gears"></i>
          <span class="link_name">Configurations</span>
        </a>
        <span class="tooltip">Configurations</span>
      </li>

    </ul>
  </div>