<button kendoButton class="k-btn mb-3" [svgIcon]="plusIcon" (click)="openModal($event, modalContent)"
    style="padding: 8px; font-weight: bolder; padding-left: 15px; padding-right: 15px;">
    Shedule Election
</button>
<div class="col-12 kendo-grid-data d-flex justify-content-center flex-column">
    <div class="kendo-grid-data">
        <kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="20" [pageable]="pageableSettings"
            [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
            [columnMenu]="{ filter: true }">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG" style="padding: 8px;">
                    Export to Excel
                </button>
                <button kendoGridPDFCommand [svgIcon]="pdfSVG" style="padding: 8px;">Export to PDF</button>
                <kendo-textbox class="ms-auto" style="width: 50%; padding: 5px;"
                    placeholder="Search in all columns..."></kendo-textbox>
            </ng-template>
            <kendo-grid-column field="ProductID" title="State" [width]=30>
            </kendo-grid-column>
            <kendo-grid-column field="ProductName" title="Year" [width]=20>
            </kendo-grid-column>
            <kendo-grid-column field="Category.CategoryName" title="Total Assembly" [width]=20>
            </kendo-grid-column>
            <kendo-grid-column field="Category.CategoryNameknio" title="Status" [width]=20>
            </kendo-grid-column>
            <kendo-grid-column field="jkb" title="Approval" [width]=10>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>



<ng-template #modalContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">State Election Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="k-form k-form-md" [formGroup]="form">
            <fieldset class="k-form-fieldset">
                <div class="row">
                    <div class="col-2 flex-start-center">
                        <kendo-label text="Election State : "></kendo-label>
                    </div>
                    <div class="col-10">
                        <kendo-formfield>
                            <kendo-dropdownlist class="input-field" defaultItem="Select State" [data]="stateList"
                                [valuePrimitive]="true">
                            </kendo-dropdownlist>
                        </kendo-formfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 flex-start-center">
                        <kendo-label text="Election Date : "></kendo-label>
                    </div>
                    <div class="col-10">
                        <kendo-formfield>
                            <kendo-datepicker class="input-field" placeholder="Choose Election Date"></kendo-datepicker>
                        </kendo-formfield>
                    </div>
                </div>
                
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');">Save</button>
    </div>
</ng-template>